.hovas{
    background-color: rgb(32, 32, 32);
    color: aliceblue;
}
.hovas:hover{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.center{
    position: absolute;
    color: aqua;
}
.Gamminga{
    position: relative;

}
.fontskill{
    font-family:Tahoma;
    font-size:xx-small;
}
*{
	position: relative;
}

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper{
	height: 100%;
	background-color: #080708;
}
.btn1{
	color: #fff;
	text-decoration: none;
	border: 3px solid #fff;
	border-radius: 18px;
	font-family: Helvetica;
	font-weight: 600;
	font-size:20px;
	line-height: 45px;
	letter-spacing: 1px;
	padding: 25px 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	transition: all 0.3s;
}

.btn1:before{
	content: "";
	position: absolute;
	width: 320px;
	height: 320px;
	border-radius: 140px;
	background-color: #fff;
	top: 70px;
	left: 50%;
	animation: wave 5s infinite linear;
	transition: all 1s;
}
@keyframes wave{
	0%{transform: translateX(-50%) rotate(0deg);
	} 
	100%{transform: translateX(-50%) rotate(360deg);
	}
}
.btn1:hover{
	color: #0e99e9;
    text-decoration: none;
    
}

.btn1:hover:before{
	top: 25px;
}



ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3071ff;
}
.instagram-bg{
    background: #e42c0b;
  }
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}



.body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:rgb(255, 254, 254);
  }
  
  .typewrite > .wrap { 
    color: rgb(255, 248, 248);
    font-family: 'Swanky and Moo Moo', cursive;
  }
  
.nn{
  font-size: 53px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(253, 15, 15);

}





















body{
  color: #ffffff;
  margin-top:20px;
}
.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #ffffff;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}


.about-section .counter {
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: #000000;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #f70000;
}
.dark-color {
  color: #ffffff;
}
 .media1{
  color: white;
 }
